body{
    background-image: url("https://pausadrammatica.files.wordpress.com/2016/11/6dede263bfcb309c3c18903623ef2b26.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    background-position-x: center;
    
    
    
}

p,h1,strong,h3,h2{
    
}