{{>partials/header}}

<h2>Qual ano você nasceu?</h2>

<form method="POST" action="idade-resultado">
    <input type="text" name="anoNascimento" placeholder="digite sua idade"/>
    <input type="submit" value="Enviar"/>
</form>

{{#mostrarIdade}}
você tem {{idade}} anos
{{/mostrarIdade}}

{{>partials/footer}}