<!--aqui fica as referências pra utilizar em outras páginas, essa é a referência do header-->
<html>


<head>

    <title> Ai minha Voida </title>

</head>

<body>

    <header>
    <h1>Título da página</h1>
    <p>Hello Word
    <hr/>
    </header>
    



    